// 1. IMPORTAÇÃO DO MATERIAL (Obrigatório no topo absoluto)
@use '@angular/material' as mat;

// 2. CONFIGURAÇÃO GLOBAL DO TEMA M3
// Tiramos de dentro do 'html' e jogamos na raiz para o Material estilizar o projeto inteiro!
@include mat.core();

@include mat.theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
));

// Reativa as classes utilitárias de sombra (mat-elevation-z8, etc) se você for usar
@include mat.elevation-classes();

// 3. INJEÇÃO DO TAILWIND V4
@import "tailwindcss";

// 4. ESTILOS GLOBAIS DO PROJETO
html, body {
  height: 100%;
  margin: 0;
}

body {
  // Define o tema claro padrão e aplica as variáveis que o @include gerou lá em cima
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, Arial, sans-serif;
}